.about {
  // width: 100%;
  text-align: center;

  &__img img {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -0.6rem;
    padding: 2rem 0;
    background: $primary-color-peach;
    color: $primary-color-white;
    background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
    background-repeat: no-repeat;
  }
  &__heading {
    padding-top: 2rem;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
  }

  &__para {
    padding: 2rem 1rem;
  }

  /** TALENT **/

  &__talent {
    &__img img {
      width: 100%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $secondary-color-lightPeach;
      background-repeat: no-repeat;
      padding: 2rem 0;
      margin-top: -0.5rem;
      background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &__heading {
      color: $primary-color-peach;
      padding-top: 2rem;
      font-size: 30px;
      font-weight: 500;
      line-height: 35px;
    }

    &__para {
      padding: 1rem;
    }
  }

  /** DEAL **/

  &__deal {
    text-align: center;

    &__img img {
      width: 100%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -0.6rem;
      padding: 2rem 0;
      background: $secondary-color-lightPeach;
      color: $primary-color-white;
      background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
      background-repeat: no-repeat;
    }
    &__heading {
      color: $primary-color-peach;
      padding-top: 2rem;
      font-size: 30px;
      font-weight: 500;
      line-height: 35px;
    }

    &__para {
      color: $primary-color-black;
      padding: 1rem;
    }
  }
}

/** LOCATIONS **/

.location {
  padding: 2rem 1rem;

  &__item {
    padding: 2rem;

    img {
      background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
      background-repeat: no-repeat;
    }
  }

  &__title {
    padding-top: 2rem;
  }

  .location__btn button {
    margin-top: 1rem;
    background: $primary-color-peach;
    color: $primary-color-white;

    &:hover {
      background-color: $secondary-color-lightPeach;
      border: none;
    }
  }
}
