.contact {
  text-align: center;

  &__main {
    background: $primary-color-peach;
    color: $primary-color-white;
    padding: 2rem 1rem;
    background-image: url(/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__heading {
    padding-top: 2rem;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
  }

  &__para {
    padding: 2rem 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    input,
    textarea {
      color: $secondary-color-lightGrey;
      padding: 1rem;
      padding-top: 2rem;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid $primary-color-white;
    }

    ::placeholder {
      color: $primary-color-white;
      opacity: 0.6;
    }
  }
}
