@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

$primary-color-peach: hsl(11, 73%, 66%);
$primary-color-black: hsl(270, 3%, 11%);
$primary-color-white: hsl(0, 0%, 100%);
$secondary-color-lightPeach: hsl(11, 100%, 95%);
$secondary-color-darkGrey: hsl(264, 5%, 50%);
$secondary-color-lightGrey: hsl(210, 17%, 95%);

$small-font: 16px;
$medium-font: 20px;
$large-font: 40px;
$xl-font: 48px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $primary-color-white;
  -webkit-box-shadow: transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-tablet {
  @media screen and (min-width: 568px) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: 769px) {
    @content;
  }
}
