.home {
  height: 100vh;
  overflow: hidden;
  background: $primary-color-peach;
  background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: left;

  &__text {
    display: flex;
    flex-direction: column;
    // padding-top: 1rem;
    color: $primary-color-white;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: -7rem;
  }

  &__heading {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 30px;
    // font-weight: 500;
    line-height: 35px;
  }

  &__hero {
    display: flex;
    justify-content: center;
  }
}
