.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  &__logo {
    padding-left: 1rem;

    img {
      width: 200px;
    }
  }

  .nav-toggle {
    position: absolute;
    z-index: 1;
    top: 2.2rem;
    right: 1.5rem;
    height: 22px;
    width: 30px;
    cursor: pointer;
    @include transition-ease;

    &__burger {
      position: absolute;
      right: 0rem;
      top: 0.4rem;
      width: 28px;
      height: 3px;
      background: $primary-color-black;
      @include transition-ease;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $primary-color-black;
        @include transition-ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: $primary-color-black;
        @include transition-ease;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  .nav__menu {
    // position: fixed;
    visibility: hidden;
    width: 100%;

    &.open {
      visibility: visible;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 30vh;
    position: fixed;
    overflow: hidden;
    left: 0rem;
    top: 5.2rem;
    width: 100%;
    background: $primary-color-black;
    opacity: 0.98;
    padding: 2rem 0;
    transform: translateX(100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }
  }

  &__item {
    transform: translateX(100vw);
    @include transition-ease;

    &.open {
      transform: translateX(0);
    }

    &.active > a {
      color: $primary-color-peach;
    }
  }

  &__link {
    padding-left: 2rem;
    text-transform: uppercase;
    font-size: $medium-font;
    color: $primary-color-white;
    @include transition-ease;

    &:hover {
      color: $primary-color-peach;
    }
  }
}

@for $i from 1 through 4 {
  .nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}

// header {
//   position: fixed;
//   z-index: 2;
//   width: 100%;
//   padding: 1rem;
// }

// .home {
//   margin-top: 6rem;
// }

// .nav__logo {
//   position: absolute;
//   top: 1rem;
//   left: 1rem;

//   img {
//     width: 200px;
//   }
// }
// .nav-toggle {
//   position: absolute;
//   z-index: 1;
//   top: 1;
//   right: 1rem;
//   height: 20px;
//   width: 28px;
//   cursor: pointer;
//   @include transition-ease;

//   &__burger {
//     position: absolute;
//     right: 0rem;
//     top: 0.5rem;
//     width: 28px;
//     height: 3px;
//     background: set-text-color($primary-color-black);
//     @include transition-ease;

//     &::before {
//       content: "";
//       position: absolute;
//       top: -8px;
//       width: 28px;
//       height: 3px;
//       background: set-text-color($primary-color-black);
//       @include transition-ease;
//     }

//     &::after {
//       content: "";
//       position: absolute;
//       top: 8px;
//       width: 20px;
//       height: 3px;
//       background: set-text-color($primary-color-black);
//       @include transition-ease;
//     }

//     &.open {
//       transform: rotate(720deg);
//       background: transparent;

//       &::before {
//         transform: rotate(45deg) translate(5px, 8px);
//       }

//       &::after {
//         width: 28px;
//         transform: rotate(-45deg) translate(3px, -7px);
//       }
//     }
//   }
// }

// .nav {
//   .nav__menu {
//     border: 2px solid blue;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     opacity: 0.98;
//     visibility: hidden;

//     &.open {
//       visibility: visible;
//     }
//   }

//   &__list {
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: center;
//     align-content: center;
//     height: 100vh;
//     overflow: hidden;
//     background: $primary-color-black;
//     list-style-type: none;
//     padding-right: 2rem;
//     transform: translateY(-100%);
//     @include transition-ease;

//     &.open {
//       transform: translateY(0);
//     }

//     &__item {
//       transform: translateX(100vw);
//       @include transition-ease;

//       &.open {
//         transform: translateX(0);
//       }

//       &.active > a {
//         color: $primary-color-peach;
//       }
//     }
//   }

//   &__link {
//     display: inline-block;
//     font-size: $medium-font;
//     text-transform: uppercase;
//     padding: 2rem 0;
//     color: $primary-color-white;
//     @include transition-ease;

//     &:hover {
//       color: $primary-color-peach;
//     }
//   }
// }

// @for $i from 1 through 4 {
//   .nav__item:nth-child(#{$i}) {
//     transition-delay: ($i * 0.1s) + 0.15s;
//   }
// }
