.projects {
  margin-top: 6rem;
  background: $primary-color-white;
  padding: 1rem;

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $primary-color-white;

    a {
      color: $primary-color-white;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-weight: 500;

      span img {
        width: 0.5rem;
      }

      &:hover {
        color: $primary-color-peach;
        @include transition-ease;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__img img {
    width: 100%;
    border-radius: 1rem;
    filter: brightness(50%);
  }
  &__details {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    padding: 0.8rem;
    letter-spacing: 1px;
  }
}

/** PROJECT DESIGN DETAILS **/

.design__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15rem;
  color: $primary-color-white;
  text-align: center;
  background: $primary-color-peach;
  background-image: url(/assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: no-repeat;
  background-position: top;

  &__heading {
    margin-top: 3rem;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
  }

  &__para {
    padding: 2rem;
  }
}

.design {
  margin-top: 4rem;
  background: $primary-color-white;
  padding: 1rem;

  &__items {
    margin-bottom: 2rem;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  &__item {
    margin-bottom: 2rem;
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__details {
    margin-top: -0.6rem;
    padding: 2rem 1rem;
    background: $secondary-color-lightPeach;
    border-radius: 0 0 1rem 1rem;
  }

  &__title {
    color: $primary-color-peach;
    font-weight: 500;
    padding-bottom: 1rem;
  }
}
