.projects {
  margin-top: 6rem;
  background: $primary-color-white;
  padding: 1rem;

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $primary-color-white;

    img {
      width: 100%;
      border-radius: 1rem;
    }

    a {
      color: $primary-color-white;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-weight: 500;

      span img {
        width: 0.5rem;
      }
    }
  }
  &__item {
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      color: red;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color-darkGrey;
      opacity: 0.7;
      border-radius: 1rem;
    }
  }
  &__details {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    padding: 0.8rem;
    letter-spacing: 1px;
  }
}
