.resources {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: $primary-color-white;

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  &__item {
    padding-bottom: 2rem;
    padding-top: 2rem;

    img {
      background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 3rem;
    }
  }
  &__title {
    padding-bottom: 2rem;
    font-weight: 500;
  }
}
