/***************** MEDIA TABLET *****************/

@include media-tablet {
  /***************** HOME *****************/

  .nav {
    .nav-toggle {
      // visibility: hidden;
      right: 4rem;
    }

    &__menu {
      visibility: visible;

      .nav__list {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
        height: 100%;

        &__item {
          background-color: $primary-color-peach;
          display: inline;
          border: 2px solid blue;
        }
      }
    }
  }

  .home {
    height: 83vh;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;

    &__text {
      padding: 1rem 6rem;
    }

    &__heading {
      font-size: $xl-font;
      line-height: 46px;
    }
  }
  /** PROJECTS **/
  .projects {
    margin-left: 1rem;
    margin-right: 1rem;

    &__img {
      height: 12rem;
    }

    &__title {
      font-size: $large-font;
      font-weight: 400;
      padding-bottom: 2rem;
    }
  }

  /** RESOURCES **/
  .resources {
    margin-left: 2rem;
    margin-right: 2rem;
    &__item {
      display: grid;
      grid-template-columns: 1fr auto;
      text-align: left;
      align-items: center;
      gap: 3rem;
      padding-bottom: 0;

      img {
        margin: 0 auto;
      }
    }
  }

  /** FOOTER **/
  .footer {
    &__middle {
      margin-left: 1rem;
      margin-right: 1rem;
      &__text {
        margin: 0 8rem;

        h2 {
          font-size: $large-font;
          font-weight: 400;
          line-height: 40px;
          padding: 1rem 3rem;
        }
      }
    }

    &__bottom {
      &__items {
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(3, autofit);
        grid-row: repeat(2, autofit);
        grid-template-areas:
          "nav nav nav"
          "address contact social";
      }

      .footer__bottom__nav {
        grid-area: nav;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      &__links {
        width: 55%;
        ul {
          display: flex;
          justify-content: space-between;
        }
      }

      &__address {
        margin: 3rem 0;
        grid-area: address;
        text-align: left;
      }

      &__contact {
        margin-top: 3rem;
        grid-area: contact;
        text-align: left;
      }

      &__social {
        margin-bottom: 1rem;
        grid-area: social;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
      }
    }
  }

  /***************** PROJECTS *****************/
  .design__main {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;

    h2 {
      font-size: $xl-font;
      font-weight: 400;
      margin-top: 1rem 0;
    }

    p {
      margin: 0 6rem;
    }
  }

  .design {
    margin-left: 1rem;
    margin-right: 1rem;

    &__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
        border-radius: 1rem 0 0 1rem;
      }
    }
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0 1rem 1rem 0;
      margin-top: 0;
    }

    &__title {
      padding-bottom: 1rem;
    }
  }

  /***************** ABOUT *****************/

  .about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    &__img img {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }

    &__text {
      border-radius: 0 0 1rem 1rem;

      h2 {
        font-size: $xl-font;
        font-weight: 400;
      }

      p {
        margin: 0 2rem;
      }
    }

    &__main {
      margin: 0 2rem 4rem 2rem;
    }

    &__talent,
    &__deal {
      margin-left: 2rem;
      margin-right: 2rem;

      &__img img {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
      }

      &__text {
        border-radius: 0 0 1rem 1rem;

        h2 {
          font-size: $xl-font;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        p {
          margin: 0 2rem;
        }
      }
    }
  }

  /***************** LOCATIONS *****************/

  .locations {
    margin-right: 2rem;
    margin-left: 2rem;

    &__img img {
      border-radius: 1rem;
    }

    &__details {
      border-radius: 1rem;
      margin-top: 1rem;
      margin-bottom: 5rem;
      text-align: left;
      padding: 4rem;

      h2 {
        font-size: $large-font;
        font-weight: 400;
      }
    }

    &__address {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
  }

  /***************** CONTACT *****************/

  .contact {
    margin-right: 2rem;
    margin-left: 2rem;

    &__main {
      background-image: url(/assets/contact/desktop/bg-pattern-hero-desktop.svg);
      background-size: 80%;
      border-radius: 1rem;
      padding: 2rem;
    }

    &__details {
      align-items: flex-start;
      text-align: left;
    }

    &__heading {
      margin-left: 1rem;
      font-size: $xl-font;
      font-weight: 400;
      text-align: left;
    }

    &__btn {
      text-align: right;
    }
  }
}

/***************** MEDIA DESKTOP *****************/

@include media-desktop {
  .wraper {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .home {
    background-position: right;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    &__text {
      padding: 0 3rem;
      align-items: flex-start;
      text-align: left;
    }

    &__heading {
      font-size: 40px;
      line-height: 48px;
    }

    &__hero {
      align-self: flex-start;
      margin-top: -3rem;
      margin-right: -3rem;
    }

    .home__btn {
      padding-left: 0;
    }
  }

  /** PROJECTS **/

  .projects {
    &__img {
      height: 100%;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      // grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "item1 item2"
        "item1 item3";
    }

    .item1 {
      grid-area: item1;
    }
  }

  /** RESOURCES **/
  .resources {
    &__items {
      display: flex;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  /***************** PROJECTS *****************/

  .design__main {
    p {
      align-self: center;
      width: 50%;
    }
  }

  .design {
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    &__item {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 1rem 1rem 0 0;
      }
    }

    &__details {
      margin-top: -0.5rem;
      border-radius: 0 0 1rem 1rem;
    }
  }

  /***************** ABOUT *****************/

  .about {
    &__main {
      display: flex;
      flex-direction: row-reverse;
    }

    &__img img {
      height: 100%;
      border-radius: 0 1rem 1rem 0;
    }

    &__text {
      padding: 0 3rem;
      width: 60%;
      margin: 0;
      border-radius: 1rem 0 0 1rem;
      align-items: flex-start;
      text-align: left;

      h2 {
        margin-left: 3rem;
      }
    }

    &__talent {
      display: flex;
      &__img img {
        height: 100%;
        border-radius: 1rem 0 0 1rem;
      }
      &__text {
        padding: 0 3rem;
        width: 60%;
        margin: 0;
        border-radius: 0 1rem 1rem 0;
        align-items: flex-start;
        text-align: left;

        h2 {
          margin-left: 3rem;
        }
      }
    }

    &__talent {
      display: flex;
      &__img img {
        height: 100%;
        border-radius: 1rem 0 0 1rem;
      }
      &__text {
        padding: 0 3rem;
        width: 60%;
        margin: 0;
        border-radius: 0 1rem 1rem 0;
        align-items: flex-start;
        text-align: left;

        h2 {
          margin-left: 3rem;
        }
      }
    }

    &__deal {
      display: flex;
      flex-direction: row-reverse;
      &__img img {
        height: 100%;
        border-radius: 0 1rem 1rem 0;
      }
      &__text {
        padding: 0 3rem;
        width: 60%;
        margin: 0;
        border-radius: 1rem 0 0 1rem;
        align-items: flex-start;
        text-align: left;

        h2 {
          margin-left: 3rem;
        }
      }
    }
  }

  //** LOCATION **//
  .location {
    display: flex;
    justify-content: space-between;
  }

  /***************** CONTACT *****************/

  .contact {
    &__main {
      display: flex;
    }
    &__details {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
    &__form {
      margin-left: auto;
      width: 50%;
    }
  }

  /***************** LOCATIONS *****************/

  .locations {
    &__main {
      margin-bottom: -3rem;
      padding: 0;
      gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "add-can add-can map-can"
        "map-aus add-aus add-aus"
        "add-uk add-uk map-uk";

      .map-can {
        grid-area: map-can;
      }

      .add-can {
        grid-area: add-can;
      }

      .map-aus {
        grid-area: map-aus;
      }

      .add-aus {
        grid-area: add-aus;
      }

      .map-uk {
        grid-area: map-uk;
      }

      .add-uk {
        grid-area: add-uk;
      }
    }

    &__img img {
      height: 100%;
      border-radius: 1rem;
    }

    &__details {
      border-radius: 1rem;
      height: 100%;
      margin: 0;
    }

    &__heading {
      text-align: left;
      padding-left: 7rem;
    }

    &__address {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
    }
  }

  .footer {
    &__middle__items {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    &__middle__text {
      width: 50%;
      margin-left: 0;

      p {
        padding-left: 3rem;
      }
    }

    .footer__middle__btn {
      padding-right: 3rem;
    }

    &__bottom__nav {
      height: 100%;
    }

    &__bottom__items {
      margin-left: 7rem;
      margin-right: 7rem;
    }
    &__bottom__links {
      width: 40%;
    }
  }
}
