@include media-tablet {
  /***************** HOME *****************/

  .home {
    height: 85vh;
    overflow: hidden;
    &__text {
      padding: 1rem 10rem;
    }
  }
  /** PROJECTS **/
  .projects {
    &__item {
      img {
        max-height: 12rem;
      }
    }
  }

  /** RESOURCES **/
  .resources {
    margin-left: 1rem;
    margin-right: 1rem;
    &__item {
      display: grid;
      grid-template-columns: 1fr auto;
      text-align: left;
      align-items: center;
      gap: 3rem;
      padding-bottom: 0;

      img {
        margin: 0 auto;
      }
    }
  }

  /** RESOURCES **/
  .footer {
    &__middle {
      &__items {
        padding: 0 10rem;
      }
    }

    &__bottom {
      &__items {
        display: grid;
        grid-template-columns: repeat(3, autofit);
        grid-row: repeat(2, autofit);
        grid-template-areas:
          "nav nav nav"
          "address contact social";
      }
      &__nav {
        grid-area: nav;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        align-content: center;
        border-bottom: 1px solid $secondary-color-darkGrey;
      }

      &__logo {
        max-width: 50%;
        align-self: center;
        margin-bottom: 0.7rem;
      }
      &__links {
        width: 50%;
        ul {
          display: flex;
          justify-content: space-between;
        }
      }

      &__address {
        grid-area: address;
        text-align: left;
      }

      &__contact {
        grid-area: contact;
        text-align: left;
      }

      &__social {
        grid-area: social;
        display: flex;
        align-self: center;
      }
    }
  }

  /***************** PROJECTS *****************/

  .design {
    margin-left: 1rem;
    margin-right: 1rem;
    &__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 1rem;
      img {
        border-radius: 1rem 0 0 1rem;
      }
    }
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0 1rem 1rem 0;
      margin-top: 0;
    }

    &__title {
      padding-bottom: 1rem;
    }
  }
}
