/***************** MEDIA TABLET *****************/

@include media-tablet {
  /***************** HOME *****************/

  .nav {
    .nav-toggle {
      // visibility: hidden;
      right: 4rem;
    }

    &__menu {
      visibility: visible;

      .nav__list {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
        height: 100%;

        &__item {
          background-color: $primary-color-peach;
          display: inline;
          border: 2px solid blue;
        }
      }
    }
  }

  .home {
    height: 83vh;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;

    &__text {
      padding: 1rem 6rem;
    }

    &__heading {
      font-size: $xl-font;
      line-height: 46px;
    }
  }
  /** PROJECTS **/
  .projects {
    margin-left: 1rem;
    margin-right: 1rem;
    &__img {
      height: 12rem;
    }

    &__title {
      font-size: $large-font;
      font-weight: 400;
      padding-bottom: 2rem;
    }
  }

  /** RESOURCES **/
  .resources {
    margin-left: 2rem;
    margin-right: 2rem;
    &__item {
      display: grid;
      grid-template-columns: 1fr auto;
      text-align: left;
      align-items: center;
      gap: 3rem;
      padding-bottom: 0;

      img {
        margin: 0 auto;
      }
    }
  }

  /** FOOTER **/
  .footer {
    &__middle {
      margin-left: 1rem;
      margin-right: 1rem;
      &__text {
        padding: 0 8rem;

        h2 {
          font-size: $large-font;
          font-weight: 400;
          line-height: 40px;
          padding: 1rem 3rem;
        }
      }
    }

    &__bottom {
      &__items {
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(3, autofit);
        grid-row: repeat(2, autofit);
        grid-template-areas:
          "nav nav nav"
          "address contact social";
      }

      .footer__bottom__nav {
        grid-area: nav;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        // border-bottom: 1px solid $secondary-color-darkGrey;
      }

      &__links {
        width: 60%;
        ul {
          display: flex;
          justify-content: space-between;
        }
      }

      &__address {
        grid-area: address;
        text-align: left;
      }

      &__contact {
        grid-area: contact;
        text-align: left;
      }

      &__social {
        grid-area: social;
        display: flex;
        align-self: center;
      }
    }
  }

  /***************** PROJECTS *****************/

  .design {
    margin-left: 1rem;
    margin-right: 1rem;
    &__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 1rem;
      img {
        border-radius: 1rem 0 0 1rem;
      }
    }
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0 1rem 1rem 0;
      margin-top: 0;
    }

    &__title {
      padding-bottom: 1rem;
    }
  }

  /***************** ABOUT *****************/

  .about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    &__img img {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }

    &__text {
      border-radius: 0 0 1rem 1rem;
    }

    &__main {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    &__talent,
    &__deal {
      margin-left: 2rem;
      margin-right: 2rem;

      &__img img {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
      }

      &__text {
        border-radius: 0 0 1rem 1rem;
      }
    }
  }

  /***************** LOCATIONS *****************/

  .locations {
    margin-right: 2rem;
    margin-left: 2rem;
    // display: grid;
    // grid-template-columns: 1fr;

    &__main {
      margin-bottom: 2rem; //FIXME: Need to change it so the bottom doesnt mess up.
    }

    &__details {
      margin-top: 1rem;
    }
  }

  /***************** CONTACT *****************/

  .contact {
    margin-right: 2rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr;

    &__main {
      background-image: url(/assets/contact/desktop/bg-pattern-hero-desktop.svg);
      background-size: 80%;
      border-radius: 1rem;
      padding: 2rem;
    }

    &__details {
      text-align: left;
    }
    &__heading {
      margin-left: 1rem;
    }
    &__btn {
      text-align: right;
    }
  }
}

/***************** MEDIA DESKTOP *****************/

@include media-desktop {
  .wraper {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .home {
    background-position: right;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;

    &__text {
      padding: 0 3rem;
      text-align: left;
    }
    &__heading {
      padding-top: 0;
      font-size: 40px;
      line-height: 48px;
    }

    &__hero {
      align-self: flex-start;
      margin-top: 6rem;
      margin-right: -6rem;
    }
  }

  /** PROJECTS **/
  .projects {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    .item1 {
      grid-row: 1/3;
      grid-column: 1;

      img {
        max-height: 100%;
      }
    }
  }

  /** RESOURCES **/
  .resources {
    // &items {
    //   // grid-template-columns: repeat(3, 1fr);
    //   // grid-template-areas: "itema itemb itemc";
    // }

    &__item {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-content: center;

      .itema {
        grid-area: itema;
      }

      .itemb {
        grid-area: itemb;
      }

      .itemc {
        grid-area: itemc;
      }
    }
  }
  /***************** PROJECTS *****************/
  .design {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 1rem 1rem 0 0;
      }
    }
    &__details {
      border-radius: 0 0 1rem 1rem;
    }
  }

  /***************** ABOUT *****************/

  .about {
    &__main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__img {
      grid-column: 2/3;
      img {
        border-radius: 0 1rem 1rem 0;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: 1/2;
      grid-row: 1/2;
      border-radius: 1rem 0 0 1rem;
      margin: 0;
      margin-bottom: 0.4rem; //FIXME: Need to fix the margin so it works on all displays
      text-align: left;
    }

    &__talent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__img {
        grid-column: 1/2;
        img {
          border-radius: 1rem 0 0 1rem;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2/3;
        border-radius: 0 1rem 1rem 0;
        margin: 0;
        margin-bottom: 0.4rem; //FIXME: Need to fix the margin so it works on all displays
        text-align: left;
      }
    }

    &__deal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &__img {
        grid-column: 2/3;
        img {
          border-radius: 0 1rem 1rem 0;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 1rem 0 0 1rem;
        margin: 0;
        margin-bottom: 0.4rem; //FIXME: Need to fix the margin so it works on all displays
        text-align: left;
      }
    }
  }

  //** LOCATION **//
  .location {
    display: flex;
    justify-content: space-between;
  }

  /***************** CONTACT *****************/

  .contact {
    &__main {
      display: flex;
    }
    &__details {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
    &__form {
      margin-left: auto;
      width: 50%;
    }
  }

  /***************** LOCATIONS *****************/

  .locations {
    &__main {
      margin-bottom: -3rem;
      padding: 0;
      gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "add-can add-can map-can"
        "map-aus add-aus add-aus"
        "add-uk add-uk map-uk";

      .map-can {
        grid-area: map-can;
      }

      .add-can {
        grid-area: add-can;
      }

      .map-aus {
        grid-area: map-aus;
      }

      .add-aus {
        grid-area: add-aus;
      }

      .map-uk {
        grid-area: map-uk;
      }

      .add-uk {
        grid-area: add-uk;
      }
    }

    &__img img {
      height: 100%;
      border-radius: 1rem;
    }

    &__details {
      border-radius: 1rem;
      height: 100%;
      margin: 0;
    }

    &__heading {
      text-align: left;
      padding-left: 7rem;
    }

    &__address {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
    }
  }

  .footer {
    &__bottom {
      margin: 0;
      max-width: 100%;
    }
  }
}
