@import "./config";
@import "./menu";
@import "./home";
@import "./projects";
@import "./resources";
@import "./about";
@import "./locations";

body {
  height: 100vh;
  width: 100%;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: $small-font;
  line-height: 26px;
}

h1 {
  font-size: $xl-font;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  font-size: $large-font;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: $medium-font;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: white;
}

.btn {
  padding-top: 20px;

  button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 18px 20px;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }
}

/********** MIDDLE SECTION **********/
.footer {
  position: relative;
  margin-top: 20rem;

  &__middle {
    position: absolute;
    top: -15rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
    background: $primary-color-peach;
    background-image: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
    color: $primary-color-white;
    padding: 4rem 1rem;
    border-radius: 1rem;
    text-align: center;
    max-width: 100%;

    &__title {
      font-size: $large-font;
      font-weight: 500;
      padding: 0.4rem;
      padding-bottom: 1rem;
    }

    // &__btn {
    //   padding-top: 20px;

    //   button {
    //     text-transform: uppercase;
    //     font-size: 14px;
    //     font-weight: 500;
    //     letter-spacing: 2px;
    //     padding: 18px 20px;
    //     border-radius: 0.4rem;
    //     border: none;
    //     cursor: pointer;
    //   }
    // }
  }

  /********** FOOTER SECTION **********/

  &__bottom {
    background: $primary-color-black;
    color: $secondary-color-lightGrey;

    &__logo {
      // max-width: 50%;
      // margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        margin-top: 15rem; // need to change to overlap
        width: 200px;
      }
    }

    &__items {
      text-align: center;
      color: $secondary-color-lightGrey;
      padding: 2rem;

      ul li {
        padding: 0.8rem 0;
        list-style: none;
        font-size: $small-font;
        text-transform: uppercase;

        a {
          color: $secondary-color-lightGrey;
          font-weight: 400;
        }
      }
    }
    &__address {
      padding: 2rem;
    }

    &__contact {
      padding: 2rem;
    }

    &__social a {
      padding: 0.8rem;
      color: $primary-color-peach;
    }
  }
}
