@import "./config";
@import "./menu";
@import "./home";
@import "./projects";
@import "./resources";
@import "./about";
@import "./locations";
@import "./contact";
@import "./responsive";

body {
  height: 100%;
  width: 100%;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: $small-font;
  line-height: 26px;
}

h1 {
  font-size: $xl-font;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  font-size: $large-font;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: $medium-font;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: white;
}

.btn {
  // border: 2px solid red;
  z-index: 1;
  margin: 1rem 0;

  button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 18px 20px;
    border-radius: 0.4rem;
    background: $primary-color-white;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color-lightPeach;
      color: $primary-color-white;
    }
  }
}

/********** MIDDLE SECTION **********/
.footer {
  position: relative;
  margin-top: 20rem;

  &__middle {
    position: absolute;
    top: -13rem;
    left: 1rem;
    right: 1rem;
    background: $primary-color-peach;
    background-image: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: $primary-color-white;
    padding: 3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    max-width: 100%;

    &__title {
      font-size: 32px;
      font-weight: 400;
      line-height: 32px;
      padding: 0.4rem;
      padding-bottom: 1rem;
    }
  }

  /********** FOOTER SECTION **********/

  &__bottom {
    background: $primary-color-black;
    color: $secondary-color-darkGrey;

    &__nav {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      margin-top: 13rem;

      &::after {
        content: "";
        position: absolute;
        top: 17rem;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $secondary-color-darkGrey;
      }

      img {
        width: 200px;
      }
    }

    &__items {
      text-align: center;
      color: $secondary-color-darkGrey;
      padding: 0 1rem;
    }

    &__links {
      padding-top: 3rem;
      letter-spacing: 3px;

      ul li {
        padding: 0.8rem 0;
        list-style: none;
        font-size: $small-font;
        text-transform: uppercase;

        a {
          color: $secondary-color-lightGrey;
          font-weight: 400;
          font-size: 14px;

          &:hover {
            color: $primary-color-peach;
            @include transition-ease;
          }
        }
      }
    }

    &__address {
      padding: 1rem 0;
      font-size: 14px;

      h4 {
        font-size: 16px;
      }
    }

    &__contact {
      padding: 1rem 0;
      font-size: 14px;

      h4 {
        font-size: 16px;
      }
    }

    &__social {
      padding-top: 1rem;
      padding-bottom: 2rem;

      a {
        padding: 0 0 1rem 1rem;
        color: $primary-color-peach;
        font-size: 14px;
      }
    }
  }
}
