@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.mobile-menu__logo {
  max-width: 50%;
}

.mobile-menu__logo img {
  width: 200px;
}

.mobile-menu__btn {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}

.mobile-menu__btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #1d1c1e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-menu__btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #1d1c1e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-menu__btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #1d1c1e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav {
  display: none;
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  background: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  background: #e7816b;
  background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
}

.home__heading {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.home__btn {
  padding-top: 20px;
}

.home__btn button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 18px 20px;
  border-radius: 0.4rem;
  border: none;
}

.home__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__hero img {
  margin-top: -6rem;
}

.projects {
  margin-top: 6rem;
  background: #ffffff;
  padding: 1rem;
}

.projects__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.projects__items img {
  width: 100%;
  border-radius: 1rem;
}

.projects__items a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
}

.projects__items a span img {
  width: 0.5rem;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.projects__item::after {
  content: "";
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333136;
  opacity: 0.7;
  border-radius: 1rem;
}

.projects__details {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.projects__title {
  font-size: 30px;
  font-weight: 500;
  padding: 0.8rem;
  letter-spacing: 1px;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */