@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.mobile-menu__logo {
  max-width: 50%;
}

.mobile-menu__logo img {
  width: 200px;
}

.mobile-menu__btn {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}

.mobile-menu__btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #1c1b1d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-menu__btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #1c1b1d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-menu__btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #1c1b1d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav {
  display: none;
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  background: #e88069;
  background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  z-index: 20;
}

.home__heading {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.home__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__hero img {
  margin-top: -6rem;
}

.projects {
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: white;
  padding: 1rem;
}

.projects__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.projects__items img {
  width: 100%;
  border-radius: 1rem;
}

.projects__items a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
}

.projects__items a span img {
  width: 0.5rem;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.projects__item::after {
  content: "";
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #7e7986;
  opacity: 0.7;
  border-radius: 1rem;
}

.projects__details {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.projects__title {
  font-size: 30px;
  font-weight: 500;
  padding: 0.8rem;
  letter-spacing: 1px;
}

/** PROJECT DESIGN DETAILS **/
.design__main {
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
  background: #e88069;
  background-image: url(/assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: no-repeat;
}

.design__main__heading {
  padding-top: 3rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.design__main__para {
  padding: 2rem;
}

.design {
  margin-top: 4rem;
  background: white;
  padding: 1rem;
}

.design__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

.design__items img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.design__item {
  margin: 0;
  padding: 0;
}

.design__details {
  margin-top: -0.6rem;
  padding: 2rem 1rem;
  background: #ffac99;
  border-radius: 0 0 1rem 1rem;
}

.design__title {
  color: #e88069;
  font-weight: 700;
}

.resources {
  margin-top: 5rem;
  background: white;
  padding: 1rem;
}

.resources__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

.resources__item {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.resources__item img {
  background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem;
}

.resources__title {
  padding-bottom: 2rem;
  font-weight: 500;
}

.about {
  width: 100%;
  text-align: center;
  /** TALENT **/
}

.about__img img {
  width: 100%;
}

.about__details {
  margin-top: -0.6rem;
  padding: 2rem 1rem;
  background: #e88069;
  color: white;
  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
}

.about__heading {
  padding-top: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.about__para {
  padding: 2rem 1rem;
}

.about__talent {
  margin-top: -0.6rem;
  padding: 2rem 1rem;
  background: #ffac99;
  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
}

.about__talent__title {
  color: #e88069;
  padding-top: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.about__talent__para {
  padding: 1rem;
}

/** LOCATIONS **/
.location {
  padding: 2rem 1rem;
}

.location__item {
  padding: 2rem;
}

.location__item img {
  background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
}

.location__title {
  padding-top: 2rem;
}

.location__btn button {
  background: #e88069;
  color: white;
}

/** DEAL **/
.deal {
  width: 100%;
  text-align: center;
}

.deal__img img {
  width: 100%;
}

.deal__details {
  margin-top: -0.6rem;
  padding: 2rem 1rem;
  background: #ffac99;
  color: white;
  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
}

.deal__heading {
  color: #e88069;
  padding-top: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.deal__para {
  color: #1c1b1d;
  padding: 2rem 1rem;
}

.locations {
  width: 100%;
  text-align: center;
  padding: 0;
}

.locations img {
  width: 100%;
}

.locations h4 {
  color: #1c1b1d;
}

.locations p {
  color: #1c1b1d;
}

.locations__details {
  width: 100%;
  margin-top: -0.6rem;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
  background: #ffac99;
  color: white;
  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.locations__heading {
  padding: 2rem 0 2rem 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #e88069;
}

.contact {
  width: 100%;
  text-align: center;
}

.contact__details {
  padding: 2rem 1rem;
  background: #e88069;
  color: white;
  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
}

.contact__heading {
  padding-top: 2rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.contact__para {
  padding: 2rem 1rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form input,
.contact__form textarea {
  color: #f0f2f4;
  padding: 1rem;
  padding-top: 2rem;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}

.contact__form ::-webkit-input-placeholder {
  color: white;
  opacity: 0.6;
}

.contact__form :-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}

.contact__form ::-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}

.contact__form ::placeholder {
  color: white;
  opacity: 0.6;
}

@media screen and (min-width: 568px) {
  .home {
    height: 85vh;
    overflow: hidden;
  }
  .home__text {
    padding: 1rem 10rem;
  }
  .projects__item img {
    max-height: 12rem;
  }
  .resources {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .resources__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    padding-bottom: 0;
  }
  .resources__item img {
    margin: 0 auto;
  }
  .footer__middle__items {
    padding: 0 10rem;
  }
  .footer__bottom__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (autofit)[3];
        grid-template-columns: repeat(3, autofit);
    grid-row: repeat(2, autofit);
        grid-template-areas: "nav nav nav" "address contact social";
  }
  .footer__bottom__nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: 1px solid #7e7986;
  }
  .footer__bottom__logo {
    max-width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0.7rem;
  }
  .footer__bottom__links {
    width: 50%;
  }
  .footer__bottom__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__bottom__address {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: address;
    text-align: left;
  }
  .footer__bottom__contact {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: contact;
    text-align: left;
  }
  .footer__bottom__social {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: social;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: white;
}

.btn {
  padding-top: 20px;
}

.btn button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 18px 20px;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

/********** MIDDLE SECTION **********/
.footer {
  position: relative;
  margin-top: 20rem;
  /********** FOOTER SECTION **********/
}

.footer__middle {
  position: absolute;
  top: -15rem;
  left: 1rem;
  right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem;
  background: #e88069;
  background-image: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
  color: white;
  padding: 4rem 1rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 100%;
}

.footer__middle__title {
  font-size: 40px;
  font-weight: 500;
  padding: 0.4rem;
  padding-bottom: 1rem;
}

.footer__bottom {
  background: #1c1b1d;
  color: #7e7986;
}

.footer__bottom__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottom__logo img {
  margin-top: 15rem;
  width: 200px;
}

.footer__bottom__items {
  text-align: center;
  color: #7e7986;
  padding: 2rem;
}

.footer__bottom__links ul li {
  padding: 0.8rem 0;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.footer__bottom__links ul li a {
  color: #f0f2f4;
  font-weight: 400;
  font-size: 14px;
}

.footer__bottom__address {
  padding: 2rem;
  font-size: 14px;
}

.footer__bottom__contact {
  padding: 2rem;
  font-size: 14px;
}

.footer__bottom__social a {
  padding: 0.8rem;
  color: #e88069;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */